

    header  h2{

        font-size: 1.5rem;

        line-height: 30px;
    }

    header #aboveimg h1{

        font-size: 2.5rem;

        line-height: 45;


    }
    header #aboveimg button{

        padding: 12px 22px;

    }

    main #leftside,main #rightside{

        float: none;

        width: 100%;

    }
