*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}



@font-face {
    font-family: oswald;
    src: url(../fonts/Oswald-VariableFont_wght.ttf);




}
@font-face {
    font-family:opensans;
    src: url(../fonts/OpenSans-VariableFont_wdth\,wght.ttf);
    
}
nav {
    background-color: black;

}
nav a{
    color: rgb(245, 243, 243);
    text-decoration: none;
    display: inline-block;
    padding: 12px 15px;

}
nav a:last-child{
    float: right;

}
nav a:hover{
    background-color: #ccc;
    color:black ;

}
#textbox{
    text-align: center;
    padding: 60px 0px;
    font-family: oswald;


}
#textbox h1{
    font-size: 3rem;
}

#textbox p{
    font-size: 1rem;

}

#textbox p span{
    background-color: black;
    color: rgb(239, 229, 229);
    padding: 0px 10px;
}

header{
    position: relative;

}
header #aboveimg{
    position: absolute; 
    top: 35%;
    left: 50px;
    color: rgb(73, 71, 71);
    font-family: oswald;

}

header #aboveimg h2{
    font-size: 2.5rem;
    line-height: 54px;
    letter-spacing: 3px;


}
header #aboveimg h1{
    font-size: 4rem;
    line-height: 96px;
    letter-spacing: 5px;

}


main{
    background-color: #F1F1F1;
    
    
}

main #leftside{
    float: left;
    width: 70%;
    background-color: #F1F1F1;
    padding: 20px ;
    

}
main #leftside article{
    padding: 20px 30px;
    background-color: #ffff;
    margin-bottom:  20px;
}
main #leftside article .articletitle{
    text-align: center;
    font-family: oswald;
    padding-bottom: 15px;
    font-size: 1.3rem;

}
main #leftside article .articledesc{
    text-align: center;
    font-family: oswald;
    padding-bottom: 25px;
    
}
main #leftside article .articledesc span{
    color: silver;
    

}
main #leftside article .articlecontent{
    font-family: opensans;
    text-align: justify;
    line-height: 23px;
    font-size: 15px;

}
main #leftside article .articlecontent p{
    padding: 20px 0px;
}
main #leftside article .articlebutton{
    padding-bottom: 20px;
}
main #leftside article .articlebutton .leftb{
    float: left;
    background-color: white;
    padding: 8px 13px;
    border: 1px solid silver;
    font-weight: bold;
    
    

}
main #leftside article .articlebutton .leftb:hover{
    background-color: silver;
    background-color: silver;


}

 








main #leftside article .articlebutton .rightb{
    float: right;
    background-color: black;
    color: white;
    padding: 8px 13px;
    border: black;
    font-weight: bold;
}
main #leftside article .articlebutton .rightb:hover{
    background-color: silver;
    border: silver;
    color: black;
}



main #learticleftside  .articlebutton .rightb span{
    background-color: white;
    color: black;
    padding: 0px 8px;
}
.hr{
    border-bottom: 1px solid gray;
    
}
main #leftside .articlefooter{
    padding: 20px 0px;
}
main #leftside .articlefooter .lefts{
    float: left;
    width: 15%;
    padding: 10px;

}
main #leftside .articlefooter .rights{
    float: right;
    width: 85%;
    padding: 10px;

}
main #leftside .articlefooter .rights p{
    padding-bottom: 20px;
    font-size: 1.1rem;


} 
main #leftside .articlefooter .rights p span{
    color: gray;
}
main #leftside article #secondfooter,main #leftside article #thiredfooter{
    visibility: hidden;
}









main #rightside{
    float: right;
    width: 30%;
    background-color: #f1f1f1;
    padding: 20px;

}
    main #rightside .rightintro{
    font-weight:normal ;

    


}
main #rightside .rightintro p{
    background-color: black;
    color: white;
    margin-top: -10px;
    font-size: 15px;
    font-family: opensans;
    line-height: 23px;
    padding: 5px 10px;


}
main #rightside .rightsections{
    margin: 20px 0px;

}
main #rightside .rightsections h3{
    background-color: black;
    color: white;
    padding: 20px;
    font-family: oswald;
    font-weight: normal;

}
main #rightside .rightsections.sectioncontent{
    background-color: white;
    
    

}
main #rightside .rightsections #posts{
    
}




main #rightside .rightsections #posts ul{
    padding: 0px;
    list-style-type: none;



}
main #rightside .rightsections #posts ul li{
    padding: 10px;
    border-top: 1px solid silver;
    

}
main #rightside .rightsections #posts ul li.lefts
{
    float: left;
    width: 15%;
}
    


    main #rightside .rightsections #posts ul li.rights
    {
        float: right;
        width: 85%;
    }

    main #rightside .rightsections #posts ul li.rights p{
        padding: 7px 12px;
        float: right;

    }

        

    




main #rightside .rightsections #posts ul li:hover{
    background-color: solid silver;
    

}
main #rightside .rightsections #advertise{
    padding: 20px;
    background-color: white;
    
    
}
main #rightside .rightsections #advertise section{
    background-color: rgb(222, 221, 221);
    text-align: center;
    padding: 100px 0px;

}




main #rightside .rightsections #tags span:first-child{
    background-color: black;
    color: white;
}
main #rightside .rightsections #inspiration{


}
main #rightside .rightsections #inspiration img{
    width: 50%;
    padding: 10px;
    float: left;
    background-color: white;

}
main #rightside .rightsections #follow{
    background-color: white;
    padding: 20px;


}
main #rightside .rightsections #follow a{
    color: black;
    font-size: 1.3rem;
    display: inline-block;
    padding: 3px;
}
main #rightside .rightsections #follow a:hover{
    color: gray;
}
main #rightside .rightsections #subscribe{
    background-color: white;
    border: white;
    padding: 20px;

}
main #rightside .rightsections #subscribe p{
    font-family: opensans;
    font-size: 15px;
    line-height: 23px;
    margin-bottom: 15px;



}
main #rightside .rightsections #subscribe input{
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;

}
    main #rightside .rightsections #subscribe button{
        width: 100%;
        background-color: #f44336;
        padding: 10px;
        color: white;
        border: none;

    }
    main #rightside .rightsections #subscribe button:hover{
        background-color: silver;
        color: black;
    }



.clear{
    content: " ";
    clear: both;


}






footer{
    background-color: #616161;
    padding: 50px;
    

}
footer > a{
    background-color: black;
    color: white;
    padding: 10px 20px;
    border: none;
    text-decoration: none;
}
footer p{
padding-top: 25px;
font-size: 1.1rem;
color: white;
}

footer p a{
    color: white;
}
.clear{
    clear: left;
}
#subscribew{
    position:fixed;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.2);
    top: 0px;
    visibility: hidden;
    


}
#subscribew div{
    width: 70%;
    margin: auto;
    margin-top: 100px;
    padding: 30px;
    background-color: white;


}
#subscribew div #close{
    float: right;
    font-weight: bold;
    border: none;
    background-color: transparent;
    font-size: 1.5rem;
    padding:  10px 15px;
}
#subscribew div #close:hover{
    background-color: silver;
    color: black;
    margin: 10px;
}

#subscribew div h1{
    font-family: oswald;
    font-weight: normal;
    font-size: 35px;


}
#subscribew div p{
        font-family: opensans;
        margin-bottom: 20px;

}   
#subscribew div input{
        width: 100%;
        padding: 20px;
        margin-bottom: 20px;
}




    
#subscribew div #subscribeb{
        background-color: #f44336;
        color: white;
        border: none;
        width: 100%;
        padding: 20px;
        margin-bottom: 20px;

    
}
#subscribew div #subscribeb :hover{
    background-color: silver;
    color: black;
}


@media screen  and (max-width:800px){
    
}
    header #aboveimg{top: 15% 
    }

    
    





 










    



